/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Light: 300
Default: 400
Medium: 500
Bold: 700

- Line heights
Default: 1.5px
Small:
Medium:
Paragraph default:
Large:

- Letter spacing
2px

--- 02 COLORS

#222222 - main text color
#dddddd - main opposite color
#fafafa - main background color

Color for code:
#2d2d2d - background
#5b91bd
#489b40
#ffa500
#e6e628
#cc4040
#a142a1


--- 05 SHADOWS

0 6px 12px rgba(0, 0, 0, 0.25);
0 0 12px rgba(0, 0, 0, 0.25);

--- 06 BORDER-RADIUS

Default: 9px


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128  
*/

/***************/
/* GENERAL CSS */
/***************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #222222;

  background-color: #fafafa;
}

.header {
  background-color: #dddddd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 36px;
  margin: 96px auto;
  row-gap: 48px;
  column-gap: 96px;
}

.list {
  list-style: none;
}

.heading-primary {
  margin-top: 0;
  margin-bottom: 16px;
}

.heading-secondary {
  margin-bottom: 24px;
  border-bottom: 0.5px solid #222222;
}

.heading-tertiary {
  margin-bottom: 16px;
}

/**************/
/* NAVIGATION */
/**************/

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 24px;

  background-color: #dddddd;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: #222222;

  transition: all 0.5s;
}

.nav-link:hover,
.nav-link:active {
  padding: 12px;
  color: #dddddd;
  background-color: #222222;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* NAME AND PHOTO SECTION */

.section-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-and-profession {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px;
  width: 100%;

  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #222222;
}

.section-photo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.photo {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1.5px solid #222222;
  border-radius: 50%;
}

/* CONTACTS */

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacts-list-link:link,
.contacts-list-link:visited {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;

  text-decoration: none;
  color: #222222;

  border: 1px solid #222222;
  border-radius: 9px;

  transition: all 0.25s;
}

.contacts-list-link:active,
.contacts-list-link:hover {
  color: #dddddd;
  background-color: #222222;
  border-radius: 9px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.lab,
.las {
  font-size: 32px;
}

/* SUMMARY */

.my-strong-sides-list {
  font-size: 18px;
}

.la-check {
  font-size: 18px;
  margin-right: 9px;
}

/* SKILLS */

.about-me {
  margin-bottom: 24px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
}

/* CODE EXAMPLE */

.code-example-title {
  margin-bottom: 24px;
}

.code-example {
  padding: 18px 36px;
  font-size: 14px;
  background-color: #2d2d2d;
  border-radius: 9px;
}

.code-example-text {
  color: #dddddd;
}

.code-color-blue {
  color: #5b91bd;
}

.code-color-green {
  color: #489b40;
}

.code-color-orange {
  color: #ffa500;
}

.code-color-yellow {
  color: #e6e628;
}

.code-color-red {
  color: #cc4040;
}

.code-color-violet {
  color: #a142a1;
}

/* LANGUAGUES */

.lang-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lang-list-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.lang-flag {
  font-size: 24px;
}

/* WORK EXPIRIENCE */

.work-history {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.work-hitory-block p {
  margin-left: 12px;
}

/* EDUCATION */

.section-education {
  grid-column: 2 / span 1;
}

.section-education p {
  margin-left: 12px;
}

/* FOOTER */

.footer {
  background-color: #dddddd;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 36px;
}
.footer-logo {
  height: 48px;
  align-self: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
